{% extends 'advice_app/base.html' %}

{% block title %}
    Видалити профіль
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-m-9">
    <h1 class="display-4 mx-2 my-3 mt-5">Видалити профіль</h1>
        <form method="post">
            {% csrf_token %}
            <h4 class="font-weight-normal my-3 mt-5">Введіть пароль:</h4>
            {{ form.password }}<br>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }} font-weight-normal mb-3"{% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <button class="btn btn-outline-success" type="submit">Видалити</button>
        </form>
    </div>
    </div>
{% endblock %}