{% extends 'advice_app/base.html' %}

{% block title %}
    Докладніше
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-9">
    <div class="card mt-4 mx-3">
      <div class="card-header alert-success">
          <h5>{{ object.title }}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{ object.question }}</p>
        {% if object.isClosed %}
          <span class="badge rounded-pill bg-secondary text-light">Відповідь отримано</span>
        {% else %}
          <span class="badge rounded-pill bg-success text-light">Питання відкрите</span>
        {% endif %}
        {% if request.user == object.author %}
          <a href="{% url 'delete' object.id %}" class="float-right btn btn-outline-dark">Видалити</a>
        {% endif %}
      </div>
      <div class="navbar navbar-light bg-light text-muted">
        <h6>Автор: {{ object.author }}</h6>
        <h6>Дата публікації: {{ object.date }}</h6>
      </div>
    </div>
        <p class="display-4 mx-4 my-3">Відповіді: </p>
        <div class="mx-3">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.text }}<br>
        <button type="submit" class="btn btn-success">Додати</button>
    </form>
        </div>
    {% if object.answers.all %}
      {% for i in object.answers.all %}
        <div class="card mt-4 mx-3">
          <div class="card-body">
            <p class="card-text">{{ i.text }}</p>
            {% if request.user == i.author %}
              <a href="{% url 'del_ans' i.id %}" class="btn btn-outline-dark">Видалити</a>
            {% endif %}
          </div>
          <div class="navbar navbar-light bg-light text-muted">
            <h6>Автор: {{ i.author }}</h6>
            <h6>Дата публікації: {{ i.date }}</h6>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="display-6 mx-4 my-3">Наразі відповідей немає</p>
    {% endif %}
    </div>
</div>
{% endblock %}