{% extends 'advice_app/base.html' %}

{% block title %}
    Редагувати відповідь
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-xl-9">
    <h1 class="display-4 mx-2 my-3 mt-5">Редагувати відповідь</h1>
    <form method="post" class="post-form">
        {% csrf_token %}
        {{ form.text }}
        <button type="submit" class="btn btn-outline-success my-3">Редагувати</button><br>
        <span>{{ error }}</span>
    </form>
    </div>
    </div>
{% endblock %}