{% extends 'advice_app/base.html' %}

{% block title %}
    Логін
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-m-9">
    <h1 class="display-4 mx-2 my-3 mt-5">Увійти в обліковий запис</h1>
        <form method="post">
            {% csrf_token %}
            <h4 class="font-weight-normal mx-2 my-3 mt-5">Ім'я користувача:</h4>
            {{ form.username }}<br>
            <h4 class="font-weight-normal mx-2">Введіть пароль:</h4>
            {{ form.password }}<br>
            <button class="btn btn-outline-success" type="submit">Увійти</button>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }} alert alert-dark font-weight-normal my-3"
                         {% endif %} >{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
    </div>
{% endblock %}